/* Write your custom CSS here */

.txtcenter
{
    text-align: center;
}
.content_right
{
	float:right;
	display: inline-flex;
}
legend
{
	    width: 50% !important;
	    border-bottom:0px !important;
}
.mandatory
{
	color: red;
}

.scroll-table
{
    min-height: .01%;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 800px;
    max-height: 400px;
    overflow: scroll;
    height: 600px;
}


